<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head}">
        <title>RailPlan</title>
    </head>
    <body>
        <th:block th:insert="~{fragments :: header}"></th:block>
        <div class="index fullscreen-wrapper">
            <div id="index-box" class="box">
                <h2>Create your own railway network!</h2>
                <br>
                <h3><a href="/drafts">Drafts</a></h3>
                <h3><a href="/networks">Networks</a></h3>
            </div>
        </div>
    </body>
</html>
