<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head}">
        <title>RailPlan</title>
    </head>
    <body>
        <th:block th:insert="~{fragments :: header('drafts')}"></th:block>

        <div id="data-panel">

            <div id="network-elements-box" class="box">
                <th:block th:insert="~{fragments :: tabs('release')}"></th:block>

                <form id="release-form" method="post" th:object="${validityPeriod}">
                    <h4>Validity Period</h4>
                    <p>
                        <label for="start-date">From:</label>
                        <input id="start-date" name="startDate" type="date" th:field="*{startDate}">
                        <ul th:class="'errors startDate'" th:if="${releaseErrors != null}">
                            <li th:each="error : ${releaseErrors.startDateErrors}" th:text="${error}">Error</li>
                        </ul>
                    </p>
                    <p>
                        <label for="end-date">Until:</label>
                        <input id="end-date" name="endDate" type="date" th:field="*{endDate}">
                        <ul th:class="'errors endDate'" th:if="${releaseErrors != null}">
                            <li th:each="error : ${releaseErrors.endDateErrors}" th:text="${error}">Error</li>
                        </ul>
                    </p>
                    <p>
                        <input type="submit" class="add-button" value="Release Draft"> |
                        <a th:href="@{|/drafts/${currentDraftId}/release|}">Cancel</a>
                    </p>
                </form>
            </div>

        </div>

        <th:block th:insert="~{fragments :: germany-map}"></th:block>

    </body>
</html>
