<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head}">
        <title>RailPlan</title>
    </head>
    <body>
        <th:block th:insert="~{fragments :: header('drafts')}"></th:block>

        <div id="data-panel">

            <div id="network-elements-box" class="box">
                <th:block th:insert="~{fragments :: tabs('stations')}"></th:block>

                <div id="stations">
                    <h1>Draft</h1>
                    <form method="post">
                        <table>
                            <caption><h3>Train Stations</h3></caption>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Longitude</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="row, status : ${stationTableRows}">
                                    <tr class="station-row">
                                        <td th:text="${status.count}">1</td>
                                        <td th:insert="::stationTableCell('stationName', ${row.stationName}, ${row.showInputField}, ${row.stationNameIsInvalid()})"></td>
                                        <td th:insert="::stationTableCell('latitude', ${row.latitude}, ${row.showInputField}, ${row.latitudeIsInvalid()})"></td>
                                        <td th:insert="::stationTableCell('longitude', ${row.longitude}, ${row.showInputField}, ${row.longitudeIsInvalid()})"></td>
                                        <td>
                                            <div th:unless="${row.showInputField}">
                                                <a th:href="@{|/drafts/${currentDraftId}/stations/${row.stationId}/edit|}">Edit</a> |
                                                <a th:href="@{|/drafts/${currentDraftId}/stations/${row.stationId}/delete|}">Delete</a>
                                            </div>
                                            <div th:if="${row.showInputField}">
                                                <input type="submit" class="add-button" value="Update"> |
                                                <a th:href="@{|/drafts/${currentDraftId}/stations|}">Cancel</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${row.hasErrors()}">
                                        <td></td>
                                        <td th:insert="::stationTableErrors('stationName', ${row.stationNameErrors})"></td>
                                        <th:block th:unless="${#lists.isEmpty(row.locationErrors)}">
                                            <td colspan="2" th:insert="::stationTableErrors('location', ${row.locationErrors})"></td>
                                        </th:block>
                                        <th:block th:if="${#lists.isEmpty(row.locationErrors)}">
                                            <td th:insert="::stationTableErrors('latitude', ${row.latitudeErrors})"></td>
                                            <td th:insert="::stationTableErrors('longitude', ${row.longitudeErrors})"></td>
                                        </th:block>
                                        <td></td>
                                    </tr>
                                </th:block>
                                <tr th:unless="${showCustomStationForm} or ${showPresetStationForm}" class="add-button-row">
                                    <td colspan="5">
                                        <a class="add-button" th:href="@{|/drafts/${currentDraftId}/stations/new-from-preset|}">+ Add Preset Stations</a>
                                        <a class="add-button" th:href="@{|/drafts/${currentDraftId}/stations/new-custom|}">+ Add Custom Station</a>
                                    </td>
                                </tr>
                                <tr th:if="${showCustomStationForm}">
                                    <td>+</td>
                                    <td th:insert="::stationTableCell('stationName', ${newStationTableRow.stationName}, ${newStationTableRow.showInputField}, ${newStationTableRow.stationNameIsInvalid()})"></td>
                                    <td th:insert="::stationTableCell('latitude', ${newStationTableRow.latitude}, ${newStationTableRow.showInputField}, ${newStationTableRow.latitudeIsInvalid()})"></td>
                                    <td th:insert="::stationTableCell('longitude', ${newStationTableRow.longitude}, ${newStationTableRow.showInputField}, ${newStationTableRow.longitudeIsInvalid()})"></td>
                                    <td>
                                        <input type="submit" class="add-button" value="Add Station"> |
                                        <a th:href="@{|/drafts/${currentDraftId}/stations|}">Cancel</a>
                                    </td>
                                </tr>
                                <tr th:if="${showCustomStationForm == true and newStationTableRow.hasErrors()}">
                                    <td></td>
                                    <td th:insert="::stationTableErrors('stationName', ${newStationTableRow.stationNameErrors})"></td>
                                    <th:block th:unless="${#lists.isEmpty(newStationTableRow.locationErrors)}">
                                        <td colspan="2" th:insert="::stationTableErrors('location', ${newStationTableRow.locationErrors})"></td>
                                    </th:block>
                                    <th:block th:if="${#lists.isEmpty(newStationTableRow.locationErrors)}">
                                        <td th:insert="::stationTableErrors('latitude', ${newStationTableRow.latitudeErrors})"></td>
                                        <td th:insert="::stationTableErrors('longitude', ${newStationTableRow.longitudeErrors})"></td>
                                    </th:block>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <th:block th:fragment="stationTableCell(name, value, showInputField, isInvalid)">
                            <span th:class="${name}" th:unless="${showInputField}" th:text="${value}"></span>
                            <input th:if="${showInputField}" th:class="${isInvalid} ? 'invalid' : ''" type="text" th:name="${name}" th:value="${value}">
                        </th:block>
                        <th:block th:fragment="stationTableErrors(name, errors)">
                            <ul th:class="'errors ' + ${name}" th:if="${not #lists.isEmpty(errors)}">
                                <li th:each="error : ${errors}" th:text="${error}">Error</li>
                            </ul>
                        </th:block>
                    </form>

                    <form id="preset-station-form" method="post" th:if="${showPresetStationForm}" th:object="${presetStationFormModel}">
                        <select multiple="multiple" size="10" th:field="*{presetStationsToAdd}">
                            <option th:each="presetStation : ${allPresetStations}" th:text="${presetStation.name}" th:value="${presetStation}">Berlin Hbf</option>
                        </select>
                        <ul class="errors" th:if="${presetStationErrors != null}">
                            <li th:each="error : ${presetStationErrors.get('Station Name')}" th:text="${error}">Error</li>
                        </ul>
                        <input type="submit" class="add-button" value="Add Stations"> |
                        <a th:href="@{|/drafts/${currentDraftId}/stations|}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>

        <th:block th:insert="~{fragments :: germany-map}"></th:block>

    </body>
</html>
