<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments :: head}">
        <title>RailPlan</title>
    </head>
    <body>
        <th:block th:insert="~{fragments :: header('drafts')}"></th:block>

        <div id="data-panel" th:if="${currentDraftDto != null}">

            <div id="network-elements-box" class="box">
                <th:block th:insert="~{fragments :: tabs('tracks')}"></th:block>

                <div id="tracks">
                    <form id="track-form" method="post" th:action="@{|/drafts/${currentDraftId}/tracks/new|}" th:object="${newTrack}">
                        <table>
                            <caption><h3>Railway Tracks</h3></caption>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Station 1</th>
                                    <th scope="col"></th>
                                    <th scope="col">Station 2</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:class="track-row" th:each="track, status : ${tracks}">
                                    <td th:text="${status.count}">1</td>
                                    <td th:class="station-1" th:text="${track.get(0).getValue1()}">Berlin Hbf</td>
                                    <td>&lt;&equals;&gt;</td>
                                    <td th:class="station-2" th:text="${track.get(1).getValue1()}">Hamburg Hbf</td>
                                    <td><a th:href="@{|/drafts/${currentDraftId}/tracks/${track.get(0).getValue0()}/${track.get(1).getValue0()}/delete|}">Delete</a></td>
                                </tr>
                                <tr th:unless="${showNewTrackForm} or ${showNewDefaultTracksForm}">
                                    <td colspan="5">
                                        <a th:href="@{|/drafts/${currentDraftId}/tracks/new-default|}">+ Add Default Tracks</a> |
                                        <a th:href="@{|/drafts/${currentDraftId}/tracks/new|}">+ Add Custom Track</a>
                                    </td>
                                </tr>
                                <tr th:if="${showNewTrackForm}">
                                    <td>+</td>
                                    <td th:insert="::trackSelector('firstStationId', *{firstStationId}, ${trackErrors['First Station ID']})"></td>
                                    <td>&lt;&equals;&gt;</td>
                                    <td th:insert="::trackSelector('secondStationId', *{secondStationId}, ${trackErrors['Second Station ID']})"></td>
                                    <td>
                                        <input type="submit" value="Add Track"> |
                                        <a th:href="@{|/drafts/${currentDraftId}/tracks|}">Cancel</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <th:block th:fragment="trackSelector(fieldName, fieldValue, errors)">
                            <select th:if="${fieldName != null}" th:name="${fieldName}" th:value="${fieldValue}">
                                <option th:each="name : ${stationNames}" th:value="${name.getKey()}" th:text="${name.getValue()}">Berlin Hbf</option>
                            </select>
                            <ul th:class="'errors ' + ${fieldName}" th:if="${errors != null}">
                                <li th:each="error : ${errors}" th:text="${error}">Error</li>
                            </ul>
                        </th:block>
                    </form>

                    <form method="post" th:if="${showNewDefaultTracksForm}" th:object="${trackIds}">
                        <select name="tracks" multiple size="10" th:field="*{trackIds}">
                            <option th:each="track : ${defaultTracks}" th:text="${track.get('text')}" th:value="${track.get('value')}">Berlin Hbf &lt;&equals;&gt; Hamburg Hbf</option>
                        </select>
                        <p>
                            <input type="submit" value="Add Tracks"> |
                            <a th:href="@{|/drafts/${currentDraftId}/tracks|}">Cancel</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <th:block th:insert="~{fragments :: germany-map}"></th:block>

    </body>
</html>
