

/* ----------------------------- Fonts ----------------------------- */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-700.woff2') format('woff2');
}


/* ----------------------------- Document ----------------------------- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: none;
}

header {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

a {
    color: #888888;
}

#logo {
    display: inline-block;
}

#logo a {
    color: #f01414;
    border: 4px solid #f01414;
    border-radius: 6px;
    display: inline-block;
    padding: 0px 6px;
    margin: 10px;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#main-navigation {
    display: inline-block;
}

nav ul {
    list-style: none;
}

#main-navigation ul li {
    display: inline-block;
    float: left;
}

#main-navigation ul li a {
    padding: 10px 20px;
    text-decoration: none;
}

#main-navigation ul li a.selected {
    color: #f00000;
}

.box {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 40px;
    margin: 10px;
    position: relative;
}

.fullscreen-wrapper {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

.index {
    background-image: url("../img/railway-tracks.jpg");
}

.drafts {
    background-image: url("../img/railway-construction.jpg");
}

#index-box {
    margin: 0 auto;
    width: 400px;
    top: 300px;
}

#data-panel {
    float: right;
    width: 60%;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

table caption {
    display: none;
}

table tr {
    vertical-align: top;
}

table th, td {
    padding: 10px 20px;
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
}

table tr.with-errors td {
    border-bottom: none;
    padding-bottom: 0;
}

.no-wrap {
    white-space: nowrap;
}

.invalid {
    background-color: #ffdddd;
    border: 1px solid #ff7777;
}

.errors {
    color: #dd0000;
}

.add-button {
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color: #74ad5a;
    border-radius: 4px;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 12px;
    text-decoration: none;
    margin-right: 10px;
}
.add-button:hover {
    background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    background-color: #68a54b;
}
.add-button:active {
    position: relative;
    top: 1px;
}

.add-button-row td {
    text-align: center;
}

.add-button-row .add-button {
    text-align: center;
}

#germany-map {
    width: 39.4%;
    box-sizing: border-box;
    height: 894px;
}

#germany-map svg {
    width: 100%;
    height: 100%;
}

#germany-map svg path {
    fill: #bbbbbb;
}

#germany-map svg circle {
    fill: #0a1e6e;
    stroke: #ffffff;
    stroke-width: 0.5;
}

#germany-map svg line {
    fill: #bbbbbb;
    stroke: #444444;
    stroke-width: 3;
}

#preset-station-form select, #preset-track-form select {
    display: block;
    margin-bottom: 10px;
    *min-width: 240px;
}

#preset-station-form option, #preset-track-form option {
    padding: 3px 80px 3px 8px;
    border-bottom: 1px solid #eeeeee;
}

input[type="text"] {
    padding: 2px 4px;
}
