

/* ----------------------------- Fonts ----------------------------- */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-700.woff2') format('woff2');
}


/* ----------------------------- Document ----------------------------- */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: none;
}

header {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

#logo {
    display: inline-block;
}

#logo a {
    color: #f01414;
    border: 4px solid #f01414;
    border-radius: 6px;
    display: inline-block;
    padding: 0px 6px;
    margin: 10px;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#main-navigation {
    display: inline-block;
}

nav ul {
    list-style: none;
}

#main-navigation ul li {
    display: inline-block;
    float: left;
}

#main-navigation ul li a {
    padding: 10px 20px;
    text-decoration: none;
}

.box {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 40px;
    margin: 10px;
    position: relative;
}

.index-wrapper {
    width: 100%;
    background: url("../img/railway-tracks.jpg") no-repeat;
    background-size: 100%;
    height: 1000px;
}

#index-box {
    margin: 0 auto;
    width: 400px;
    top: 300px;
}

#data-panel {
    float: right;
    width: 60%;
    box-sizing: border-box;
}

#network-elements-box {
    height: 618px;
    padding-top: 100px;
}

#network-elements-box nav {
    margin-bottom: 40px;
    background-color: #eeeeee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#network-elements-box nav li {
    display: block;
    float: left;
}

#network-elements-box nav li a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    color: #444444;
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#network-elements-box nav li .selected {
    background-color: #ffffff;
    color: #000000;
}

a {
    color: #888888;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

table caption {
    display: none;
}

table th, td {
    padding: 10px 20px;
    border-bottom: 1px solid #bbbbbb;
    text-align: left;
}

#germany-map {
    width: 39.4%;
    box-sizing: border-box;
    height: 894px;
}

#germany-map svg {
    width: 100%;
    height: 100%;
}

#germany-map svg path {
    fill: #bbbbbb;
}

#germany-map svg circle {
    fill: #0a1e6e;
    stroke: #ffffff;
    stroke-width: 0.5;
}

#germany-map svg line {
    fill: #bbbbbb;
    stroke: #444444;
    stroke-width: 3;
}
