<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RailPlan - Draft</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>RailPlan</h1>
    <h2>Rail Network Drafts</h2>
    <ul>
        <li th:each="draftId,status : ${draftIds}">
            <span th:if="${currentDraftId == draftId}">*</span>
            <a th:href="@{|/drafts/${draftId}|}" th:text="'Draft ' + ${status.count}">Draft 1</a>
        </li>
    </ul>
    <div>
        <a href="/drafts/new">New Draft</a>
    </div>
    <div th:if="${currentDraftDto != null}">
        <h3>Stations</h3>
        <form action="#" th:action="@{|/drafts/${currentDraftId}/stations/new|}" th:object="${newStation}" method="post">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="station,status : ${currentDraftDto.getStations()}">
                        <td th:text="${status.count}">1</td>
                        <td th:text="${station.getName()}">Berlin Hbf</td>
                        <td th:text="${station.getLatitude()}">52.524927</td>
                        <td th:text="${station.getLongitude()}">13.369348</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>+</td>
                        <td><input type="text" th:field="*{name}"></td>
                        <td><input type="text" th:field="*{latitude}"></td>
                        <td><input type="text" th:field="*{longitude}"></td>
                        <td><input type="submit" value="Add Station"></td>
                    </tr>
                    <tr th:if="${stationError != null}">
                        <td></td>
                        <td colspan="4"><p th:text="${stationError}">Station Error</p></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <h3>Tracks</h3>
        <form action="#" th:action="@{|/drafts/${currentDraftId}/tracks/new|}" th:object="${newTrack}" method="post">
            <table>
                <tbody>
                    <tr th:each="track,status : ${tracks}">
                        <td th:text="${status.count}">1</td>
                        <td th:text="${track.get(0)}">Berlin Hbf</td>
                        <td>&lt;&equals;&gt;</td>
                        <td th:text="${track.get(1)}">Hamburg Hbf</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>+</td>
                        <td>
                            <select th:field="*{firstStationId}">
                                <option th:each="name : ${stationNames}" th:value="${name.getKey()}" th:text="${name.getValue()}">Berlin Hbf</option>
                            </select>
                        </td>
                        <td>&lt;&equals;&gt;</td>
                        <td>
                            <select th:field="*{secondStationId}">
                                <option th:each="name : ${stationNames}" th:value="${name.getKey()}" th:text="${name.getValue()}">Hamburg Hbf</option>
                            </select>
                        </td>
                        <td><input type="submit" value="Add Track"></td>
                    </tr>
                    <tr th:if="${trackError != null}">
                        <td></td>
                        <td colspan="4"><p th:text="${trackError}">Track Error</p></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>
